@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');


:root{
    --gray:#374151;
    --minion-color:#ffe346;
    --txtbox-color:#FCD34D;
}

header{
    background-color:var(--gray);
    padding: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 0.5rem;
    font-size: larger;
    color: white;
}

body{
    background-color:#F9FAFB;
    margin: 0px;
    font-family: 'Love Ya Like A Sister', cursive;
}

#img-eyes{
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    width: 46.5%;
    height: 20vh;
    margin: auto;
}

textarea{
    padding: 2rem;
    width: 42%;
    height: 15vh;
    display: block;
    margin:auto;
    margin-top: 2rem;
    border-color:var(--txtbox-color);
    font-family: 'Lora', serif;
    font-size: large;
}

#btn-translate{
    position: relative;
    margin: 2rem;
    margin-left: 65%;
    border-radius: 0.5rem;
    border-color: var(--gray);
    padding: 0.7rem 1rem;
    font-size: larger;
    background-color: var(--minion-color);
    font-weight: bold;
}

button{
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

#output{
    font-family: 'Rokkitt', serif;
    margin-top: 0%;
    font-size: x-large;
}
p{
    color: white;
    text-align: center;
    font-size:140%;
    margin: 0px;
    padding-top: 1rem;
}

footer{
    background-color:var(--gray);
    margin-top: 2rem;
}

#img-footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
}