@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');


:root{
    --gray:#374151;
    --minion-color:#ffe346;
    --txtbox-color:#FCD34D;
}

header{
    background-color:var(--gray);
    padding: 0.5rem;
    display: block;
    text-align: center;
    font-size: larger;
    color: white;
    border-bottom-left-radius: 0.5rem ;
    border-bottom-right-radius: 0.5rem ;
}

body{
    background-image: url(/images/Ba-Na-Nana-15.png);
    background-size: contain;
    margin: 0px;
    font-family: 'Love Ya Like A Sister', cursive;
}

#img-eyes{
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    width: 46.5%;
    height: 20vh;
    margin: auto;
}

textarea{
    padding: 2rem;
    width: 42%;
    height: 14vh;
    display: block;
    margin:auto;
    border-width:0.14vw;
    border-color:var(--txtbox-color);
    font-family: 'Lora', serif;
    font-size: large;
}

#btn-translate{
    position: relative;
    border-radius: 0.5rem;
    border-color: var(--gray);
    padding: 0.7rem 1rem;
    font-size: larger;
    background-color: var(--minion-color);
    font-weight: bold;
    padding: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#output{
    font-family: 'Rokkitt', serif;
    margin-top: 0%;
    font-size: x-large;
}
p{
    color: white;
    text-align: center;
    font-size:140%;
    margin: 0px;
    padding-top: 0.2rem;
}

footer{
    background-color:var(--gray);
    padding-top: 0.5rem;
    margin-top: 2rem;
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
}

#img-footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
}

